*
    margin: 0
    padding: 0
    box-sizing: border-box

a 
    text-decoration: none
    color: inherit

ul
    list-style: none

body
    background-image: url('/style/assets/images/thunderstorm.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 100vh